.lesson {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
}

.lesson img {
  width: 100%;
  height: auto;
}

.lesson__details-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.lesson__details {
  padding: 20px;
}

.lesson button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  padding-left: 43px;
  cursor: pointer;
  background-color: #8e80a9;
  border: none;
  background-image: url("../img/button-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.lesson h3 {
  margin: 0;
  padding: 0;
}

.lesson p {
  margin: 0;
  padding: 0;
}

.lesson__details div {
  margin: 0;
  padding: 0;
}

.lesson__couch {
  color: #e65c7b;
  display: flex;
  flex-direction: column;
}
