@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff2"),
    url("../fonts/Geometria-Medium.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2"),
    url("../fonts/Geometria-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Caveat";
  font-display: swap;
  src: url("../fonts/Caveat-Regular.woff2"),
    url("../fonts/Caveat-Regular.woff");
  font-weight: 400;
}
